.list-of-tasks {
  display: flex;
  justify-content: space-between;
  color: rgb(40, 189, 40);
  padding: 5px;
  background: '#f4f4f4';
  border-bottom: 1px #ccc dotted;
  font-size: 20px;
}

.checked-tasks {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px #ccc dotted;
  color: rgb(6, 6, 251);
}

.checked-tasks .clicked-button {
  text-decoration: none;
}
.clicked-button {
  border: none;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
}

.checked-div{
  text-decoration: line-through;
}

.mini-div{
  display: flex;
}